.spyfall-game-container {
    display: flex;
    flex-direction: column;
}

.spyfallgame-timer {
    text-align: center;
    font-size: 2rem;
}

.spyfallgame-role-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: rgb(140, 140, 140, 0.5) solid 1px;
    border-bottom: rgb(140, 140, 140, 0.5) solid 1px;
    padding: 1rem 0;
    margin: 2rem 0;
    font-size: 1.6rem;
}

.agent-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.agent-banner > div {
    margin-bottom: 1rem;
}

.agent-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;

}

.spyfallgame-info-container > p {
    font-size: 1.1rem;
    margin: 10px 0;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    flex: 0 0 50%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.grid-item > p {
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 5px;
    background: #f9f9f9;
    margin: 2px;
}

.spyfallgame-controls {
    border-top: rgb(140, 140, 140, 0.5) solid 1px;
    border-bottom: rgb(140, 140, 140, 0.5) solid 1px;
    padding: 3rem 0;
    margin-top: 3rem;
}

@media (min-width: 800px) {
    .grid-item {
        flex: 0 0 33%;
    }
}