
button {
    border:rgb(140, 140, 140, 0.7) solid 1px;
    border-radius: 5px;
    padding: 0.7rem 1.8rem;
    margin: 0.2rem;
    text-transform: uppercase;
    font-family: 'Raleway';
    width: 10rem;
}

input:not([type='radio']):not([type='number']){
    font-family: 'Raleway';
    border: none;
    border:rgb(140, 140, 140, 0.7) solid 1px;
    border-radius: 5px;
    padding: 1rem;
}

input[type='radio']{
    height: 2em;
    width: 2em;
    margin-right: 10px;
    
}

input[type='number']{
    font-family: 'Raleway';
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    border:rgb(140, 140, 140, 0.7) solid 1px;
    border-radius: 5px;
    -moz-appearance: textfield
}

.spyfall-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: none;
    height: 100vh;
    color: #3f3f3f;
}

.spyfall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 2rem;
}

.title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 2rem;
}

.controls {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    border-top: rgb(140, 140, 140, 0.5) solid 1px;
    border-bottom: rgb(140, 140, 140, 0.5) solid 1px;
    margin-bottom: 7rem;
}

.create-controls {
    display: flex;
    flex-direction: column;
    border-top: rgb(140, 140, 140, 0.5) solid 1px;
    border-bottom: rgb(140, 140, 140, 0.5) solid 1px;
    padding: 2rem 1rem;
    margin-bottom: 7rem;
    align-items: center;
}

.locations-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.locations-container > p {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.join-controls {
    display: flex;
    flex-direction: column;
    border-top: rgb(140, 140, 140, 0.5) solid 1px;
    border-bottom: rgb(140, 140, 140, 0.5) solid 1px;
    padding: 2rem 1rem;
}

.join-controls > input {
    margin: 0.5rem;
}

@media (min-width: 500px) {
    .spyfall {
        max-width: 500px;
    }
}


